.container-main {
    margin-top: 100px;
    margin-bottom: 70px;
}

.nav-pills .nav-link.active {
    background-color: #bf9d36 ;
}

.card {
    border: none;
}

.row-cols-md-3 > * {
    padding: 20px;
}

.container .container-main-search {
    margin-top: 150px;
    margin-bottom: 100px; 
}

.col-search {
    padding: 10px;
}

.rounded-circle {
    width: 40px;
}

.card-img-top {
    height: 550px;
}

#fullComment {
    display: none; /* Скрываем полный текст комментария по умолчанию */
}

.container-feedback {
    margin: 100px 0px;
}

.row-books {
    margin-bottom: 140px;
}

.res-ul {
    padding: 100px 0px;
}

.form-search {
    text-align: center;
    padding: 100px 0px;
    background-image: url(/upload/BookInfo/knigi-fon-stil-vladstudio.jpg);
}

.form-search p {
    padding: 0px 10px;
}

header {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: rgba(0, 0, 0, 0);
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
}

.img-search {
    width: 250px;
    height: 250px;
}

.container-search-img {
    padding: 50px 0px;
}

.full-height {
    min-height: 100vh; /* Высота блока на весь экран */
    display: flex;
    flex-direction: column; /* Вертикальная структура */
  }
  .content {
    flex-grow: 1; /* Занимает всё оставшееся пространство */
  }

.mb-5-about {
    padding: 50px 0px;
  }