
<div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
    <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
        Добро пожаловать на Книжную Полку!</h1>
    <p class="col-lg-10 fs-4">
        Книжная Полка — это ваше личное пространство для управления библиотекой книг. 
        Мы создали это веб-приложение, чтобы помочь вам легко отслеживать, организовывать и делиться своими 
        любимыми книгами. Независимо от того, являетесь ли вы заядлым читателем или просто ищете новые рекомендации, 
        Книжная Полка — идеальное место для вас!</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
    <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email адрес</label>
        </div>
        <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Пароль</label>
        </div>
        <div class="checkbox mb-3">
        
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Вход</button>
        <p class="small fw-bold mt-2 pt-1 mb-0">У вас нет учетной записи?  <a href="#!"
            class="link-danger">Регистрация</a></p>
        <hr class="my-4">
        <small class="text-body-secondary">Нажимая «Зарегистрироваться», вы соглашаетесь с условиями использования.</small>
    </form>
    </div>
</div>