{% extends 'BookInfo/base.html' %}

{% block title %} Добавить книгу  {% endblock %}

{% block content %}

<div class="container">
    <center><h1> О нас </h1></center> 

    <p>
        О нас

Добро пожаловать в Книжная Полка — ваше идеальное место для хранения, управления и обсуждения книг! Мы создали эту платформу с одной целью: сделать чтение доступным, увлекательным и социальным для всех любителей литературы.
Наша Миссия

Наша миссия — вдохновлять людей на чтение и помогать им находить книги, которые они полюбят. Мы верим, что каждая книга — это новый мир, который ждет, чтобы его открыли. С Книжной Полкой вы сможете легко организовать свою библиотеку, делиться впечатлениями и находить единомышленников.
Что Мы Предлагаем

    Удобное управление библиотекой: Легко добавляйте, сортируйте и отслеживайте свои книги. Создавайте списки желаемого, отмечайте прочитанные книги и делитесь своими любимыми произведениями с друзьями.

    Сообщество читателей: Присоединяйтесь к нашему форуму, участвуйте в обсуждениях и находите группы по интересам. У нас вы сможете обмениваться мнениями, рекомендациями и находить новых друзей, разделяющих вашу любовь к чтению.

    Персонализированные рекомендации: Наши алгоритмы помогут вам находить книги, которые соответствуют вашим интересам и предпочтениям. Откройте для себя новинки и популярные произведения, которые могут вас заинтересовать.

    Рейтинг и отзывы: Делитесь своими впечатлениями о прочитанных книгах, оставляйте отзывы и читайте мнения других пользователей. Это поможет вам и другим читателям делать осознанный выбор.

Наша Команда

Мы — команда увлеченных книгочеев, разработчиков и дизайнеров, которые стремятся создать лучший опыт для всех пользователей. Мы постоянно работаем над улучшением нашей платформы, добавляя новые функции и учитывая ваши пожелания.
Присоединяйтесь к Нам!

Мы рады видеть вас в нашем сообществе! Начните свое путешествие в мир литературы с Книжной Полки уже сегодня. Зарегистрируйтесь, добавьте свои любимые книги и откройте для себя новые горизонты чтения.

Если у вас есть вопросы или предложения, не стесняйтесь обращаться к нам. Мы всегда готовы помочь!

Спасибо, что выбрали Книжную Полку! Читайте, обсуждайте и вдохновляйтесь вместе с нами!
    </p>
</div>



{% endblock content %}