{% extends 'BookInfo/base.html' %}

{% block title %} Добавить книгу  {% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="mb-3">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_title" class="form-label">Название книги: </label>
                <input type="text" name="name_book" id="title_book" class="form-control" value="{{ form.title.value|default:'' }}">
            </div>
            <div class="mb-3">
                <label for="id_title" class="form-label">Описание книги: </label>
                <textarea type="text" name="title" id="id_title" class="form-control" value="{{ form.title.value|default:'' }}"> </textarea>
            </div>
            <div class="mb-3">
                <label for="id_title" class="form-label">Автор: </label>
                <select class="form-select" id="exampleSelect">
                    {% for obj in author %}
                        <option value="{{ obj.name }}">{{ obj.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="id_title" class="form-label">Жанр: </label>
                <select class="form-select" id="exampleSelect">
                    {% for obj in genre %}
                        <option value="{{ obj.genre_name }}">{{ obj.genre_name }}</option>
                    {% endfor %}
                </select>   
            </div>
            <div class="mb-3">
                <label for="id_cover_image" class="form-label">Обложка книги</label>
                <input type="file" name="cover_image" id="id_cover_image" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</div>
  
{% endblock content %}