{% extends 'BookInfo/base.html' %}

{% block title %} Добавить книгу  {% endblock %}

{% block content %}

    <!-- Страница товара -->
    <div class="container mt-5">
        <div class="row row-books">
            <!-- Обложка книги -->
            <div class="col-md-4">
                <img src="{{ book.cover.url }}" alt="Обложка книги" class="book-cover rounded" width="400px">
            </div>
            <div class="col-md-8">
                <h2>{{ book.name_book }}</h2>
                <p><strong>Автор:</strong> {{ book.avtor }} </p>
                <p><strong>Жанр:</strong> {{ book.genre }} </p>
                <p><strong>Год публикации:</strong> {{ book.year_of_publication }}</p>
                <br>
                <h5>Описание</h5>
                <p> {{ book.description }}</p>
                {% if user.is_authenticated %}
                    {% if created %}
                        <a href="{% url 'addFavorites' book.id %}" type="button" class="btn btn-sm btn-outline-secondary">Добавить в избранное</a>
                    {% else %}
                        <a href="{% url 'addFavorites' book.id %}" type="button" class="btn btn-sm disabled">Уже в избранном</a>
                        <a href="{% url 'removeFromFavorites' book.id %}" type="button" class="btn btn-sm btn-outline-secondary">Удалить из избранного</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'bookList' %}" type="button" class="btn btn-sm btn-outline-secondary">На главную</a>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
        <hr>
        <!-- форма для отзывов -->
        <div class="container mt-5">
            <h1 class="text-center">Оставьте комментарий</h1>
            {% csrf_token %} 
            {{ form.as_p }}
            <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Отправить</button>
        </div>
        <div class="container mt-5">
            <h2>Комментарии</h2>
            <ul>
                {% for comment in comments %}
                    <li>
                        <strong>{{ comment.author }}</strong> ({{ comment.created_at }}):
                        <p>{{ comment.text }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        {% endif %}        
    </div>



{% endblock content %}
