{% extends 'BookInfo/base.html' %}

{% block title %} Добавить книгу  {% endblock %}

{% block content %}

    <!-- Страница товара -->
    <div class="container mt-5">
        <div class="row row-books">
            <!-- Обложка книги -->
            <div class="col-md-4">
                <img src="{{ book.cover.url }}" alt="Обложка книги" class="book-cover rounded" width="400px">
            </div>
            <div class="col-md-8">
                <h2>{{ book.name_book }}</h2>
                <p><strong>Автор:</strong> {{ book.avtor }} </p>
                <p><strong>Жанр:</strong> {{ book.genre }} </p>
                <p><strong>Год публикации:</strong> {{ book.year_of_publication }}</p>
                <br>
                <h5>Описание</h5>
                <p> {{ book.description }}</p>
                {% if user.is_authenticated %}
                    {% if created %}
                        <a href="{% url 'addFavorites' book.id %}" type="button" class="btn btn-sm btn-outline-secondary">Добавить в избранное</a>
                    {% else %}
                        <a href="{% url 'addFavorites' book.id %}" type="button" class="btn btn-sm disabled">Уже в избранном</a>
                        <a href="{% url 'removeFromFavorites' book.id %}" type="button" class="btn btn-sm btn-outline-secondary">Удалить из избранного</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'bookList' %}" type="button" class="btn btn-sm btn-outline-secondary">На главную</a>
                {% endif %}
            </div>
        </div>
        <hr>
        <!-- форма для отзывов -->
        <div class="container mt-12">
            <h2>Комментарии</h2>
    <!-- Список комментариев -->
    <div class="mt-4">
        {% for comment in comments %}
            <div class="card mb-3 comment-card">
                <div class="card-body">
                    <div class="row">
                        <!-- Аватарка (левая колонка) -->
                        <div class="col-auto">
                            <img src="{{ comment.username.profile.profile_picture.url }}" alt="Аватарка" class="rounded" width="130" height="130">
                        </div>
                            <!-- Текст комментария (правая колонка) -->
                        <div class="col">
                            <!-- Имя автора и дата -->
                            <h5 class="card-title mb-1">{{ comment.username }}</h5>
                            <small class="text-muted">{{ comment.creation_at|date:"d M Y H:i" }}</small>

                            <!-- Текст комментария -->
                            <p class="card-text mt-2">{{ comment.text }}</p>

                            {% if user.is_superuser or user == comment.author %}
                            <div class="d-flex">
                                <form action="{% url 'deleteComm' comment.id %}" method=POST>
                                    {% csrf_token %}
                                    <button type='submit' class='btn btn-light'> Удалить </button> 
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-info">
                Пока нет комментариев. Будьте первым!
            </div>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
    <div class="card">
        <div class="row g-0 comment-card">
            <div class="col-5 col-sm-2 text-center">
                <img src="{{ request.user.profile.profile_picture.url }}" class="rounded" alt="card-horizontal-image" width="130" height="130">
            </div>
            <div class="col-7 col-sm-10">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <textarea name="text" class="form-control" rows="3" placeholder="Ваш комментарий..." required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-info mt-4">
        Чтобы оставить комментарий, <a href="{% url 'signin' %}">войдите</a> или <a href="{% url 'signup' %}">зарегистрируйтесь</a>.
    </div>
    {% endif %}


  
</div>


{% endblock content %}











         
