{% extends 'BookInfo/base.html' %}

{% block title %}Список книг{% endblock %}

{% block content %}


        {% for obj in genre_book %}
        <div class="col col-book-list card-book">
            <div class="card shadow-sm ">
            <img src="{{ obj.cover.url }}" alt="{{ obj.name_book }}" class="card-img-top" width="100%" height="355">
            <div class="card-body">
                <h4> <a href="{% url 'bookDetail' obj.id %}"> {{ obj.name_book|truncatechars:26 }} </h4></a>
                <p class="card-text"> {{ obj.description|truncatechars:150 }} </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'bookDetail' obj.pk %}" type="button" class="btn btn-sm btn-outline-secondary"> Подробнее</a>    
                    </div>
                    <small class="text-body-secondary"> {{ obj.date_added }}</small>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}

{% endblock content %}